<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder Tools API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> Pathfinder API aka (PAPI) Documentation</h1>
    <small> This is a small unofficial API project.</small>
    <div>
        <h2> Endpoints </h2>
        <p>All requests must go through. </p>
        <code>/api</code>
        <p> Categories of resources are placed after /api. </p>
        <code> /api/magic_items </code>

        <div>
            <h3> Magic Item Endpoints </h3>
            <p> All magic items unfiltered </p>
            <code> /all_magic_items </code> 
            <p> Ammunition </p>
            <code> /ammunitions </code>
            <p> Specific Magic Armors</p>
            <code> /armors </code>
            <p> Artifacts </p>
            <code> /artifacts </code>
            <p> Cursed Items </p>
            <code> /cursed_items </code>
            <p> Magical Tattoos </p>
            <code> /magical_tattoos </code>
            <p> Potions </p>
            <code> /potions </code>
            <p> Rings </p>
            <code> /rings </code>
            <p> Rods </p>
            <code> /rods </code>
            <p> Shadow Piercings </p>
            <code> /shadow_piercings </code>
            <p> Staves </p>
            <code> /staves </code>
            <p> Specific Magic Weapons </p>
            <code> /weapons </code>
            <p> Wondrous Items </p>
            <code> /wondrous_items </code>
        </div>

        <div>
            <h3> Mundane / Basic Weapons </h3>
            <p> All weapons </p>
            <code> /all_weapons </code>
            <p> Base Weapons are broken down into the following weapon groups. </p>
            <ul>
                <li> light_melee </li>
                <li> simple_light_melee </li>
                <li> simple_one_handed_melee </li>
                <li> simple_two_handed_melee </li>
                <li> simple_ranged </li>
                <li> martial_light_melee </li>
                <li> martial_one_handed_melee </li>
                <li> martial_two_handed_melee </li>
                <li> martial_ranged </li>
                <li> exotic_light_melee </li> 
                <li> exotic_one_handed_melee </li>
                <li> exotic_two_handed_melee </li>
                <li> exotic_ranged </li>
            </ul>
        </div>
    </div>
</body>
</html>